/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.container.static
  %h1 About

  %p
    Welcome to
    %a{:href => "http://beta.digitalnz.org"} beta.digitalnz.org
    the next step in DigitalNZ’s evolution. Here we’re developing and testing new and improved ways for you to find, share, and use amazing New Zealand content. As with the current
    = succeed "," do
      %a{:href => "http://www.digitalnz.org"} digitalnz.org
    you can browse, search, and discover New Zealand archives, photos, artworks, artefacts, data, news reports, and many other types of material, from nearly 200 organisations. But we also have a number of other exciting services planned.

  %p
    Our goal for 2016 is to develop a fresher, more user-friendly and lovely-to-look-at version of
    = succeed "." do
      %a{:href => "http://www.digitalnz.org"} digitalnz.org
    Our approach to this is a little different because we are developing beta.digitalnz.org iteratively. That means we’re starting with a very basic version of the website and we’ll regularly make both small and substantial changes to this website throughout 2016 and beyond. These changes will often be based on your feedback, so any thoughts you have for us are hugely helpful and will feed directly into the site’s development.

  %p
    You can let us know what you think by clicking the red “Feedback” button on the lower right-hand corner of this page, or email us at
    = succeed "." do
      %a{:href => 'mailto:info@digitalnz.org', :target => '_blank'} info@digitalnz.org
    We’d love to hear from you.

  %h3 Release notes

  %p
    Over the course of 2016 and beyond, we’ll be tracking our
    %a{:href => "http://beta.digitalnz.org"} beta.digitalnz.org
    work
    = succeed "." do
      %a{:href => "https://docs.google.com/document/d/1A2OvFy5gLArgQiTt_9JsnR12PGSQUbTqaZpYOIoTvOM/edit", :target => '_blank'} here in our release notes
    These include notes about parts of the site that may not be quite right, and it’ll give you an idea of what is coming next.

  %p If you’re concerned that we’re missing something, or a part of the site isn’t working properly, check here first, as it is likely that we’re working on it and an update will be released soon.
