/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.container.static
  %h1 Become a Partner
  %p To become a contributor to this pilot website you will need to have digital items from your collection online so we can point to them, alternatively you may be planning a digitisation project that we can discuss with you.
  %p
    The following information provides an overview of how we can work with you. It is important that you also read and understand the
    %a{:href => "http://www.digitalnz.org.nz/about/terms-of-use/metadata-contribution-terms"} Metadata Contribution Terms
    we will provide to you, as partners of this service will need to agree to the sharing of their descriptive metadata. This agreement is modelled on the
    %a{:href => "http://www.digitalnz.org.nz/about/terms-of-use/metadata-contribution-terms"} Metadata Contribution Terms
    agreement used by the National Library of New Zealand&#x2019;s DigitalNZ service.
  %p Being part of this pilot project means that the National Library Board of Singapore (NLB):
  %ul
    %li Will harvest, copy  cache your metadata, including small thumbnails, so it can be made accessible and searchable on the pilot platform.
    %li NLB may make larger sized thumbnails so your items display attractively on the pilot platform.
    %li
      Your metadata can be made available via the pilot platform API (use of which is subject to the
      %a{:href => "http://www.digitalnz.org.nz/about/terms-of-use/developer-api-terms-of-use"} Developer API
      Terms modelled on the National Library of New Zealand&#x2019;s DigitalNZ service).
    %li Your metadata may be cached for up to 30 days by users of the pilot platform API.
    %li Your metadata cannot be used for commercial purposes without your permission.
  %p NLB will:
  %ul
    %li Provide clear attribution of your items (displaying the source and the URL of each item) on the pilot platform.
    %li Promptly remove your metadata from the pilot platform website at your request.
    %li Give you 30 days notice of any changes to the Metadata Contributor Terms.
  %p
    To confirm your participation in this pilot please Ms KHOR Su Min at
    %a{:href => "mailto:Su_Min_KHOR@nlb.gov.sg"} Su_Min_KHOR@nlb.gov.sg
    and Ms LEE Mei Chen at
    %a{:href => "mailto:MEI_CHEN_LEE@nlb.gov.sg"} MEI_CHEN_LEE@nlb.gov.sg
    to indicate your interest.
  %p If you wish to discuss any of these details, please don&#x2019;t hesitate to contact us, and thank you for helping us make our region's digital content easier to find, share and use.
