/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.container.static
  %h1 Terms of Use
  %p We welcome you to this website and encourage you to use the Digital New Zealand services. By using this website you agree to be legally bound by these terms of use which take effect immediately on your first use of the website. If you do not agree to be legally bound by all these terms, please do not access or use this website.

  %p The Digital New Zealand project is run by the National Library of New Zealand (“the National Library”). The National Library may change this website, the online services (“the Service”) provided through it or the terms of use at any time.

  %p Changes to these terms of use will be posted online. You are responsible for reviewing the amended terms of use, and your continued use of this website constitutes your agreement to the amended terms of use.

  %h3 Your responsibilities

  %p Each registered user of this website (including use of your “dashboard”, the DigitalNZ API and any search widgets or other tools provided) has the following responsibilities:

  %p You agree to keep your user ID, password secure. Do not disclose your password [or forgotten password phrase] to anyone else.

  %p If you think someone knows your user ID, password, you must immediately: change your password, or cancel your online account for this website, or call us.

  %p You must keep your registration details up-to-date. You are responsible for providing all hardware and software required to perform your obligations under these terms of use.

  %h3 Tools

  %p You may use the search facility, search widgets and other tools provided by this website for the purposes designated by this website but in any event only for non-commercial purposes. You may embed search widgets (“search widgets”) and other tools you create using this website on another website, blog, or in an application (“Other Website”) in accordance with these terms.

  %p All search queries (“Search Queries”) sent to the National Library from the Other Website using search widgets shall comply with the technical specifications that the National Library may issue from time to time. The National Library will process Search Queries using the National Library's search engine. If you receive a Search Query from a user of the Other Website (“User”) the Other Website must forward that Search Query to the National Library. You must not in any way modify or re-contextualise the Results produced by the National Library’s search engine, except as otherwise agreed between you and the National Library. The National Library is not responsible for the transmission of data between you and the National Library.

  %p The search widget or other tool embedded on the Other Website must clearly indicate that the widget or tool is provided by Digital New Zealand.

  %p You must not and must not allow any third party to:

  %ul
    %li modify any Results
    %li prevent the complete display of any Results
    %li assign or otherwise dispose of a search widget or any Service
    %li use a search widget or any Service for any commercial purpose or seek any payment or other remuneration for the provision of a search widget or any Service
    %li remove or modify the National Library's trade marks, copyright notice or trade mark notice associated with any search widget or Service, or
    %li engage in any conduct that reflects poorly on the National Library and Digital New Zealand

  %p The Other Website must not contain any indecent, obscene or violent content or contain any other material, products or services that breach or encourage conduct that would breach any applicable laws (such as the Human Rights Act (NZ)) or third party rights, including intellectual property rights.

  %h3 Acceptable use

  %p You agree not to use search widgets and other tools, the Digital New Zealand API, the Digital New Zealand content, or the National Library trade marks in any way that is unlawful, or harms the National Library, its service providers, its suppliers, your end users, or any other person.

  %p The National Library may unilaterally suspend your use of search widgets and other tools, the Digital New Zealand API, the Digital New Zealand content and/or the National Library trade marks if and when the National Library determines that your use breaches the terms of use or is otherwise unacceptable.

  %h3 Trade marks

  %p The National Library grants you a non-transferable, non-exclusive licence while you remain a registered user of this website to display the National Library's trade marks, including DIGITAL NEW ZEALAND, in relation to your use of the Service, search widgets and tools as permitted by this website.

  %p Your use of the National Library’s trade marks is subject to the Digital New Zealand brand guidelines as issued from time to time. All use of the National Library's trade marks (including any goodwill associated with it) shall inure to the benefit of the National Library.

  %p If the National Library determines at any time that you are using or displaying any of the National Library’s trade marks in a manner that is or may be detrimental to the National Library’s interests, the National Library may issue reasonable instructions to you concerning the manner, if any, in which you may continue the use of such the National Library’s trade marks or any of them. You must promptly comply with such instructions or cease the use or display of the relevant National Library trade mark.

  %h3 Content disclaimer

  %p This website contains content that was not produced by the National Library. The National Library is not responsible for such third-party content, and does not necessarily endorse the views expressed in it. The Library accepts no liability or responsibility for the manner in which the information on this website is interpreted or used, or the results of such use.

  %h3 External links from this website

  %p This website may include hypertext links to the websites of other people and organisations. Linking should not be taken as endorsement of any kind by the National Library of those other people and organisations.

  %p The National Library is not responsible for the content of external internet sites and does not necessarily endorse the views expressed within them. Contact the external site owner for answers to questions regarding their content.

  $h3 User contributed metadata

  %p As a DigitalNZ user you may submit descriptive information ("User Contributed Metadata") about content available through DigitalNZ. User Contributed Metadata includes comments, descriptions, tags, and other metadata submitted to DigitalNZ.

  %p You grant the National Library a worldwide, non-exclusive, royalty-free, perpetual, sublicenseable and transferable license to use, reproduce, distribute, modify, and display your User Contributed Metadata. You understand and agree that this can be redistributed in any format and through any channel, including the DigitalNZ websites and the DigitalNZ API.

  %h3 Linking to this website

  %p You are welcome to link to pages on this website. Links should not state or imply that the material is the copyright of anyone other than the National Library or the relevant copyright holder.

  %p Linking to this website from any other website or organisation is not an endorsement of any kind by the National Library.

  %h3 Security and damage

  %p You are responsible for any damage you cause to this website or to any of the National Library’s other websites, electronic facilities or data.

  %p We provide security to protect this website and our online services. You are responsible for ensuring that your own computer is secure, including taking all reasonable steps to:

  %ul
    %li prevent someone misusing or getting unauthorised access to your computer system or to this website or our online services, and
    %li ensure your computer system and data are free of computer viruses and all other forms of corruption.

  %h3 Disclaimer

  %p The National Library makes no warranty, express or implied, nor assumes any legal liability or responsibility:
  %ul
    %li that this website or the National Library’s servers are free of computer viruses or any other harmful components, defects or errors
    %li that any defects in this website will be corrected
    %li that your access to this website will be reliable, uninterrupted or error-free (including access to any linked applications, search widgets and other tools)
    %li for any delays, inaccuracies, failures, errors, omissions, interruptions, deletions, defects, computer viruses or communication line failures, or
    %li for any theft, destruction, damage or unauthorised access to your computer system or network.

  %p Users of this website assume all risks associated with any transfer of data or information to the National Library, and with any other use of this website. We are not liable for any damage arising from interception, loss, theft, other action or difficulty in transmitting information to us.

  %p You agree that the National Library shall not under any circumstances be liable for any direct, indirect, incidental, special, consequential or exemplary loss or damages whatsoever resulting from or arising in relation to the Content, this website or the online services of the National Library or the use of them.

  %h3 Suspension of access

  %p The National Library may, at its discretion, suspend or restrict your access to this website or any part of it for any reason, including a breach of these terms of use.

  %h3 Governing law

  %p This website and these terms and conditions are governed by the laws of New Zealand and the courts of New Zealand have non-exclusive jurisdiction in relation to them.

  %p These terms and conditions are without prejudice to the powers, rights and duties of the National Library under the National Library of New Zealand (Te Puna Mātauranga o Aotearoa) Act 2003.
