# Rails
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

spec/examples.txt

# simplecov
coverage

# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# E-texteditor
.eprj

# Backup
*~

# Capybara Bug
capybara-*html

# sass
.sass-cache
.sass-cache/*

#rvm
.rvmrc
.rvmrc.*

#rbenv
.rbenv-version

/config/local_env.rb# Rails

# RubyMine
.idea

# E-texteditor
.eprj

# Capybara Bug
capybara-*html

# sass
.sass-cache
.sass-cache/*

# vendor/extensions dummy applications.
vendor/extensions/**/spec/dummy

config/local_env.rb

# Sublime Text project files
/*.sublime-project
/*.sublime-workspace
