// COLORS

/* These are the default colours for the Supplejack application */

$brand-colour: #009; 		/* The main theme colour of the site */
$hilite: #ff0;				/* A bright colour for highlighting text */

$gray: #ccc;				/* Neutral colour */
$dark-grey: #4B4B51;		/* Dark neutral colour */
$middle-grey: #777;			/* Medium neutral colour */
$light-grey: #f7f6f6;		/* Light neutral colour */

$color1: $brand_colour;		/* The primary colour for interface */
$color2: #AAA197;			/* Complementary colour for interface (bright) */
$color3: #5C5146;			/* Another complementary colour for interface (less intrusive) */

