<span class="add-to-set">+</span>
<div class="add-to-set-popup" style="display: none;">
  <p>You need to <%= link_to "sign-in", new_user_session_path %> or <%= link_to "sign-up", new_user_registration_path %> to save items</p>
</div>
