<span class="add-to-set" data-record-id="<%= record_id %>">+</span>
<div class="add-to-set-popup logged-in" style="display: none;">
  <ul class="sets-container">
  </ul>
  <form>
    <label>
      New set <input type="text" class="add-to-new-set-name" />
    </label>
    <input type="submit" class="add-to-new-set-submit" value="Create" data-record-id="<%= record_id %>"/>
  </form>
</div>
