.add-to-set{"data-record-id" => record_id} 
	%i.fa.fa-plus-circle
	.add-to-set-popup{:style => "display: none;"}
		Please #{link_to "sign-in", new_user_session_path} or #{link_to "sign-up", new_user_registration_path} to save items
