%footer
  .row
    %nav
      / <haml_loud> link_to &quot;Become a Partner&quot;, become_a_partner_path </haml_loud>
      / <haml_loud> link_to &quot;Contact&quot;, contact_path </haml_loud>
      = link_to 'Terms of use', terms_path
= javascript_include_tag 'application'
= javascript_pack_tag 'application'
