<!--
# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
# and is licensed under the GNU General Public License, version 3. Some components are 
# third party components that are licensed under the MIT license or other terms. 
# See https://github.com/DigitalNZ/supplejack_website for details. 
# 
# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
# http://digitalnz.org/supplejack
-->

<button id="main-menu" class="menu">menu</button>
<nav class="menu">
  <div class="menu-inner">
    <a href="/">Home</a>
    <!-- <a href="/become_a_partner">Become a Partner</a> -->
    <a href="/contact">Contact</a>
    <!-- <a href="/terms">Terms of use</a> -->
    <a href="/about">About</a>
  </div>
  <div class="language-selector">
	  <button class="language-btn menu"><span></span></button>
	  <div class="language-container menu">
	  	<ul>
	  		<li>english</li>
	  		<li>官话</li>
	  	</ul>
	  </div>
	</div>
</nav>
