/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
= form_tag records_path, :method => :get, class: 'search clearfix' do
  = hidden_field_tag("tab", params[:tab]) if params[:tab].present?
  = text_field_tag :text, @search.text, class: 'search-input', placeholder: t('records.enter_search')
  = submit_tag "Search", class: "search-button"
