- @search['i']&.each do |facet, value|
  = tag.button, date_parser_for(value),
    class: "filter-unit",
    id: "target-#{filter_class(value)}",
    data: { facet: facet, filter: value }
- @search['or']&.each do |facet, values|
  - values.each do |value|
    = tag.button, date_parser_for(value),
      class: "filter-unit",
      id: "target-#{filter_class(value)}",
      data: { facet: facet, filter: value }
