/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack

- filter_facets.each_with_index do |facet, index|
  = content_tag :li, (content_tag :a, facet[0].capitalize.gsub("_", " "), href: "#panel1-#{(index + 2)}"), class: 'filterTitle'
/ %li
/   %a.button.tiny.filter-close{:href => "#panel1-1"} X