- filter_facets.each_with_index do |facet, index|
  = content_tag :li, (content_tag :a, facet[0].capitalize.gsub("_", " "), href: "#panel1-#{(index + 2)}"), class: 'filterTitle'
/ %li
/   %a.button.tiny.filter-close{:href => "#panel1-1"} X
