.content{:id => "panel1-#{index + 2}"}
  %section
    %ul.columns
      - facet_values.each do |label, count|
        %li.large-3.columns
          = content_tag :a,                                                                                                |
            "#{date_parser_for(label)} <span class='count'>#{number_with_precision(count, delimiter: ',', precision: 0)}</span>".html_safe, |
            class: filter_class(label),                                                                                    |
            data: {facet: facet, filter: label}                                                                            |
