%body
  %div.clearfix
    %button.filter-btn.button.menu{value: 0} Filters
    = render 'active_filters'
  #search_filter.filter-container.menu.f-dropdown.content{"data-dropdown-content" => ""}
    %header.clearfix
      %ul.tabs{"data-tab" => ""}
        %li.active
          %a{:href => "#panel1-1"} Quick filters
        = render 'filter_tabs'
    %button.close-filters.radius.tiny
      Close
      %i.fa.fa-close

    .tabs-content
      = render 'quick_filters'
      = render 'filter_content'
