%body

  .filter-container.menu.large-3.columns
    %header
      %ul.tabs{"data-tab" => ""}
        %li.tab-title.active
          %a{:href => "#panel1-1"} Quick filters
        = render 'filter_tabs'
      %button.close.filter-button
        +
    %hr     
    .tabs-content
      = render 'quick_filters'
      = render 'filter_content'
