<!--
# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
# and is licensed under the GNU General Public License, version 3. Some components are 
# third party components that are licensed under the MIT license or other terms. 
# See https://github.com/DigitalNZ/supplejack_website for details. 
# 
# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
# http://digitalnz.org/supplejack
-->

<button class="filter-btn menu">Filters</button>

<%= render 'active_filters' %>

<div class="filter-container menu">
  
  <header>
    
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1-1">Quick filters</a></li>
      <%= render 'filter_tabs' %>
    </ul>
    
    <button class="close">
      &times;
    </button>
  </header>
  
  <div class="tabs-content">
    <%= render 'quick_filters' %>
    <%= render 'filter_content' %>
  </div>
</div>