.filters
  .container
    %ul
      - SearchTab.sorted_counts(@counts).each do |type, count|
        %li{ class: ('active' if search_tab.value.downcase == type.downcase) }
          %a{ href: records_path(search_tab_options(search.options, type)), id: "#{type}-tab") }
            SearchTab.tab_label(type, number_with_precision(count, delimiter: ',', precision: 0))
