.grid-container
  .grid-x.grid-padding-x.align-center-middle.text-center.home
    .cell
      %h1.logo= t('site_title')
      = render partial: 'shared/search', locals: { search: @search }

      %p.introText= t('home.intro').html_safe
