- content_for(:body_class) {'records'}
- title @search.text

.grid-container
  = render 'search_tabs'
.grid-container.results
  = render 'filters'
  .gallery-container
    %span.gallery-spinner
    = render @records
    #second-spinner.infinite-spinner
  #navigation
    = will_paginate(@records)
