// COLORS

$bgGray: #eee;
$accent: #e50;
$accentGo: #090;
$toolGray: darken($bgGray, 30%);
$hilite: #ffa;

$colorDark: #233d4d; //rgba(35, 61, 77, 100)
$colorHilite: #fcca46; //rgba(252, 202, 70, 100)
$color1: $brand_colour;
$color2: #AAA197;
$color3: #5C5146;

// SIZES

$standardRadius: 0.4rem;