.community-content {
	
	img {
		border-radius: $standardRadius;
	}

	.community-header {
		margin: 2rem 0 1rem;
		background: $color2;
		border-radius: $standardRadius;
		color: white;
		h1 {
			font-size: 3rem;
			margin: 0;
			padding: 4rem 2rem 1.5rem;
			font-weight: 800;
			color: white;
		}
		h1.community {
			padding-top: 2rem;
		}
		img {
			border-radius: 0;
			width: 100%;
			height: auto;
			max-height: 8rem;
		}
		h1.community::before {
			content: 'Community';
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 300;
			display: block;
		}
	}

	.communities {
		li {
			.image-frame {
				height: 6rem;
				overflow: hidden;
				img {
					height: 6rem;
					width: auto !important;
					min-width: 100%;
				}
			}
		}	
	}


	h2 {
		margin: 0 0 1rem;
		padding: 0.6rem 2rem;
		font-size: 1.8rem;
		font-weight: 800;
		color: white;
		background: $color2;
		border-radius: $standardRadius;
	}

	.call-to-action {
		a {
			color: white;
			display: block;
			text-align: center;
			padding: 1rem;
			background: $color3;
			border-radius: $standardRadius;
			line-height: 1.2rem;
			i {
				display: block;
			}
			&:hover {
				background: $color1;
			}
		}
		h4 {
			margin: 1rem 0;
			text-align: center;
		}
		.fa-grouper {
			.fa {
				display: inline;
			}
		}
	}

	h3.callout {
		text-align: center;
		margin: 0 0 1rem;
	}

	h4 {
		a {
			color: $color3;
		}
	}

	h6 {
		font-size: 1rem;
		text-transform: uppercase;
		color: $toolGray;
	}

	.description {
		font-size: 1.3rem;
	}

	.stories {
		margin: 2rem 0;
		.story {
			h4, p {
				text-align: center;
			}
		}
		li {
			overflow: hidden;
		}
		.story-image-pad {
			height: 6rem;
			overflow: hidden;
			img {

			}
		}
	}

	.button {
		background: $color3 !important;
		font-weight: 800 !important;
	}

	.more {
		font-weight: 800;
		margin: 1rem 0;
		text-align: right;
		a {
			color: $color3;
		}
	}

	.dashboard {
		li {
			text-align: center;
		}
		.dashboard-value {
			display: block;
			font-size: 2.4rem;
			font-weight: 800;
		}
		.dashboard-caption {
			display: block;
			font-size: 1.2rem;
			text-transform: uppercase;
		}
		a {
			color: $color3;
		}
		a:hover {
			color: $color1;		
		}
	}
	.dashboard-tagline {
		text-align: center;
		color: $color3;
	}
	.community-search {
		margin: 2rem 0 0;
	}
}

h2.community {
	margin: 1rem 0 0;
	padding: 0.6rem 2rem;
	font-size: 1.8rem;
	font-weight: 800;
	color: white;
	background: $color2;
	border-radius: $standardRadius;
}
h2.community::before {
	content: 'Community';
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	display: block;
}

.upload-target {
	padding: 2rem;
	background: lighten($color2, 20%);
	border: 10px dotted $color2;
}