.breadcrumbs {
	margin: 1rem 0;
	background: transparent;
	padding: 0;
	border: 0px;
}

footer {
	margin: 4rem 0 0 0;
	background: #666;
	padding: 1rem 0 20rem;
	color: white;
	a {
		color: white;
	}
}

