.add-to-set {
  color: #999;
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
}

.add-to-set-popup {
  position: absolute;
  left: -4.4rem;
  top: 3rem;
  z-index: 2;
  font-size: 1rem;
  a {
    font-size: 1rem;
    font-weight: 800;
  }
  background-color: #020202;
  border: 1px solid black;
  width: 10rem;
  padding: 0.5rem;
  color: #fff;
}

.add-to-set-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(2, 2, 2, 0);
  border-bottom-color: #020202;
  border-width: 15px;
  margin-left: -15px;
}

.record-actions {
  padding: 0 3rem 0 0;
  position: relative;
  .add-to-set {
    top: 0;
    bottom: auto;
  }
}
