---
http_interactions:
- request:
    method: get
    uri: http://api.supplejack.boost.co.nz/records.json?api_key=6h7_WPx5wQxs1hCyGWNh&debug=true&facets=type&facets_per_page=10&fields=all,type&page=1&per_page=0&record_type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"340d937ac0ec257faf7f4afb2444771c"'
    body:
      encoding: US-ASCII
      string: ! '{"search":{"result_count":5,"results":[],"per_page":0,"page":1,"request_url":"http://api.supplejack.boost.co.nz/records.json?&api_key=6h7_WPx5wQxs1hCyGWNh&debug=true&facets=type&facets_per_page=10&fields=all%2Ctype&page=1&per_page=0&record_type=0","solr_request_params":{"fq":["type:SupplejackApi\\:\\:Record",null],"start":0,"rows":0,"facet":"true","f.type_sm.facet.limit":10,"f.type_sm.facet.offset":0,"f.type_sm.facet.mincount":1,"facet.field":["type_sm"],"q":"*:*"},"facets":{"type":{"Article":5}}}}'
  recorded_at: Tue, 08 Jul 2014 04:42:48 GMT
recorded_with: VCR 2.9.0
