---
http_interactions:
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=10&fields=default,source_contributor_name,source_website_name,subject&page=1&per_page=0&record_type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"430a2b44cff0b354592a317724a1c3e5"'
    body:
      encoding: UTF-8
      string: '{"search":{"result_count":2089666,"results":[],"per_page":0,"page":1,"request_url":"http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a\u0026debug=true\u0026facets=category\u0026facets_per_page=10\u0026fields=default%2Csource_contributor_name%2Csource_website_name%2Csubject\u0026page=1\u0026per_page=0\u0026record_type=0","solr_request_params":{"fq":["type:Record","record_type_i:0","-is_catalog_record_b:true","-content_partner_sm:(National\\
        Library\\ Singapore)","-primary_collection_sm:(National\\ Library\\ of\\ New\\
        Zealand\\ Catalogue OR Index\\ New\\ Zealand OR findNZarticles)","-source_id_s:ministry_environment_koordinates",null],"start":0,"rows":0,"facet":"true","f.category_sm.facet.limit":10,"f.category_sm.facet.offset":0,"f.category_sm.facet.mincount":1,"facet.field":["category_sm"],"q":"*:*"},"facets":{"category":{"Images":1149631,"Articles":222015,"Audio":171945,"Reference
        sources":140915,"Research papers":124452,"Books":93583,"Newspapers":83163,"Archives":60376,"Manuscripts":38106,"Other":18565}}}}'
  recorded_at: Mon, 10 Aug 2015 23:55:33 GMT
[...]
