.category-tabs {
  margin-top: 2rem;
  border-bottom: 1px solid $medium-gray;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    li {
      margin: 0;
      padding: 0;
      float: left;
      display: block;

      a {
        display: block;
        padding: 1rem;
        color: $dark-gray;

        span {
          display: block;
          margin-top: 1rem;
          font-size: 0.8rem;
        }
      }

      &.active {
        a {
          background: white;
          color: $brand-colour;
          border-bottom: 3px solid $brand-colour;
        }
      }
    }
  }
}
