.filter-container {
  position: absolute;
  background-color: #f0f0f0;
  width: 100%;
  z-index: 10;
  display: none;
  border: 1px solid $medium-gray;
  height: 500px;
  overflow: scroll;
  margin-top: 0;
  opacity: 0.97;

  a.disabled {
    color: $dark-gray;
    cursor: default;

    &:hover {
      color: $dark-gray;
    }

    span,
    span:hover {
      color: $dark-gray !important;
    }
  }

  header {
    border-bottom: 1px solid $medium-gray;

    ul.tabs {
      background-color: inherit;

      li {
        display: inline-block;
        background-color: inherit;
        border: none;

        a {
          padding: 1.5rem 0 1rem 0;
          margin-left: 1rem;
          margin-right: 1rem;
          font-weight: normal;
          display: block;
          color: $dark-gray;
          border-bottom: none;
          margin-bottom: -2px;
        }

        &.active {
          a {
            color: $brand-colour;
            background-color: inherit;
            border-bottom: 4px solid $brand-colour;
          }
        }
      }
    }
  }

  .tabs-content .content {
    display: none;

    &.active {
      display: block;
    }

    section {
      display: inline-block;
      padding: 2rem 1rem;
      color: $brand-colour;
      float: left !important;
      box-sizing: border-box;

      ul {
        list-style: none;
        margin: 1rem 0 0 0;

        li a {
          cursor: pointer;
          color: $black;
          padding: 0.5rem 0;
          border-bottom: none;
          font-weight: normal;
          line-height: inherit;
          display: block;
          font-size: 0.9rem;

          span {
            font-size: 0.6rem;
            color: $dark-gray;
          }

          &.active {
            color: $brand-colour;
          }

          &.more,
          &.more:hover {
            font-size: 0.7rem;
            border-top: 1px solid #ccc;
            margin-top: 0.5rem;
            padding-top: 1rem;
          }
        }
      }
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    color: $brand-colour;
    line-height: 1;
    font-size: 4rem;
    padding: 0 0.5rem 0 0;
  }

  &.open {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 0.5rem;
    border-color: transparent transparent $medium-gray transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -1rem;
    left: 3rem;
    z-index: 99;
  }
}
