.home {
  height: calc(80vh);

  .search {
    width: 26rem;
    margin: 0 auto;

    .search-input {
      box-shadow: none;
      border: 1px solid $dark-gray;
      border-right: none;
      background-color: $light-gray;
      width: 22rem;
      padding: 0.5rem 1rem;
      line-height: 2rem;
      font-size: 1rem;
      height: 3rem !important;
      box-sizing: border-box;
    }

    ::placeholder {
      color: $dark-gray;
    }

    .search-button {
      background: url("../assets/search-icon.svg") center center no-repeat;
      background-size: 3.5rem;
      width: 4rem;
      height: 4rem;
      font-size: 1rem;
      background-color: $brand-colour;
      outline: none;
      border: none;
      text-indent: -999rem;
      margin-top: -0.5rem;
      -webkit-box-shadow: -14px 0 20px -6px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: -14px 0 20px -6px rgba(0, 0, 0, 0.45);
      box-shadow: -14px 0 20px -6px rgba(0, 0, 0, 0.45);
    }

    .search-input,
    .search-button {
      float: left;
    }
  }

  .logo {
    color: $black;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .introText {
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
    color: #777;
    max-width: 45rem;
    margin: 4rem auto 0 auto;
  }
}
