.about {
  margin: 3rem 0;

  .field-label {
    text-transform: none;
    font-weight: bold;
    display: block;
  }
}

.record {
  padding-top: 3rem;

  .about,
  figure {
    width: 100%;
    display: block;
  }

  figure > a {
    border-bottom: none;

    & > img {
      padding: 0.5rem;
      border: 1px solid $light-gray;
      display: block;
    }
  }
}

.results {
  padding-top: 2rem;
  position: relative;
}

.filter-btn,
.filter-unit,
.filter-button {
  float: left;
  padding: 0.4rem;
  line-height: 1.3rem;
  vertical-align: bottom;
  margin: 1rem 0.1rem;

  &::after {
    padding: 0.3rem;
    font-size: 0.9rem;
    line-height: 0.2rem;
    height: 0.9rem;
    width: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0 0.5rem;
  }
}

.filter-btn {
  border: 1px solid $medium-gray;
  background-color: $medium-gray;
  color: #000;

  &.on {
    background-color: $brand-colour;
    color: #000;

    &::after {
      content: '-';
    }
  }

  &::after {
    content: '+';
  }

  &:hover {
    border: 1px solid $brand-colour;
    background-color: $brand-colour;
    color: #000;
  }
}

.filter-unit,
.filters-button {
  border: 1px solid $brand-colour;
  background-color: #fff;
  color: $brand-colour;
}

.filter-unit {
  &::after {
    content: '×';
  }

  &:hover {
    background-color: $brand-colour;
    color: #fff;
  }
}

.pullout {
  padding: 1rem;
  border: 1px solid #efefef;
  border-left: 0.3rem solid red;
  margin-top: 1rem;
}
