h1 {
  font-size: 2em;
  color: $dark-gray;
}

.about {
  .field-label {
    text-transform: none;
    font-weight: bold;
    display: block;
  }

  margin: 3em 0;
}

.record {
  padding-top: 3em;

  .about,
  figure {
    width: 100%;
    display: block;
  }

  figure > a {
    border-bottom: none;

    & > img {
      padding: 0.5em;
      border: 1px solid $light-gray;
      display: block;
    }
  }
}

.results {
  padding-top: 2em;
  position: relative;

  /* .filters-button {
      background-color: $brand-colour;
      color: white;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      &:hover, &:focus {
        background-color: lighten($brand-colour, 10%);
        color: white;
      }
    } */
}

.filter-btn {
  float: left;
  border: none;
  padding: 0.5em 4em 0.5em 1em;
  background-color: $medium-gray;

  /* @include border-radius(0); */
  color: #000;
  font-size: 0.8em;
  position: relative;
  vertical-align: bottom;

  &.on {
    background-color: $brand-colour;
    color: #000;

    &::after {
      content: '-';
      border-left: 1px solid darken($brand-colour, 10%);
    }
  }

  &::after {
    content: '+';
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0.2em;
    top: 0;
    color: #000;
    height: 2.2em;
    width: 2em;
    line-height: 2.2em;
    font-size: 1em;
  }

  &:hover {
    background-color: $brand-colour;
    color: #000;
  }
}

.filter-btn:hover::after {
  border-left: 1px solid darken($brand-colour, 10%);
}

.filter-unit,
.filters-button {
  float: left;
  border: 1px solid $brand-colour;
  background-color: #fff;
  font-size: 0.8em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.4em;
  color: $brand-colour;
  margin: 0 0 0 0.1em;
  vertical-align: bottom;
  line-height: 1.3em;
}

.filter-unit {
  &::after {
    content: '×';
    padding: 0.3em;
    font-size: 0.9em;
    line-height: 0.2em;
    height: 0.9em;
    width: 0.9em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0 0.5em;
    color: tint($brand-colour, 80);
  }

  &:hover {
    background-color: $brand-colour;
    color: #fff;
  }
}

.pullout {
  padding: 1em;
  border: 1px solid #efefef;
  border-left: 0.3em solid red;
  margin-top: 1em;
}
