// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**********************
GALLERY STYLES
**********************/

#navigation {
  display: none;
}
.gallery-container {
  margin: 0;
  margin-top: 4em;
  margin-bottom: 100px;

  .gallery-spinner {
    background: image-url("spinner.gif") no-repeat;
    position: absolute;
    top: 100px;
    left: 454px;
    height: 32px;
    width: 32px;
    z-index: 1;
  }

  &.masonry {
    .gallery-spinner { display: none; }
  }
}
.infinite-spinner {
  position: absolute;
  bottom: -100px;
  left: 454px;
  height: 32px;
  width: 32px;
  z-index: 1;
}

#second-spinner {
  display: none;
}


/**********************
RECORDS STYLES
**********************/



.gallery-container {

  a:hover {
    border-bottom: none;
  }

  .gallery-record {
    padding: 8px 8px 20px 8px !important;
    color: $light-gray;
    width: 194px;
    margin: 0.5em;
    margin-bottom: 51px;
    background-color: $light-gray;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.3);
    &:hover {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.4);
    }
    .image a:hover, .image a {
      border-bottom: none;
    }
    img {
      margin: -51px 0 18px 0;
      -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3), 0 19px 8px -16px rgba(0,0,0,.7);
      -moz-box-shadow:    0px 0px 7px rgba(0, 0, 0, 0.3), 0 19px 8px -16px rgba(0,0,0,.7);
      box-shadow:         0px 0px 7px rgba(0, 0, 0, 0.3), 0 19px 8px -16px rgba(0,0,0,.7);
    }
    a {
      margin-top: 18px;
      font-size: 14px;
      // display: block;
      // float: left;
      border-bottom: 1px solid none;
      color: $brand-colour;
      font-weight: 500;
      letter-spacing: 1px;
      border-bottom: 1px solid $light-gray;
      h3 {
        margin-top: 18px;
        font-size: 14px;
      }
    }
    p {
      font-size: 12px;
      margin-bottom: 10px;
    }
    a:hover {
      border-bottom: 1px solid $brand-colour;
    }
  }
}

h1 {
  font-size: 2em;
  color: $dark-gray;
}

.record {
  padding-top: 3em;
  .about, figure {
    width: 100%;
    display: block;
  }

  figure > a {
    border-bottom: none;
    &> img {
      padding: 0.5em;

      border: 1px solid $light-gray;
      display: block;
    }
  }
}

.results {
  padding-top: 2em;
  position: relative;
    /*.filters-button {
      background-color: $brand-colour;
      color: white;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      &:hover, &:focus {
        background-color: lighten($brand-colour, 10%);
        color: white;
      }
    }*/
}

.filter-btn {
  float: left;
  border: none;
  padding: 0.5em 4em 0.5em 1em;
  background-color: $medium-gray;
  /*@include border-radius(0);*/
  color: #000;
  font-size: 0.8em;
  position: relative;
  vertical-align: bottom;
  &.on {
    background-color: $brand-colour;
    color: #000;
    &:after {
      content: '-';
      border-left: 1px solid darken($brand-colour, 10%);
    }
  }
  &:after {
    content: '+';
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0.2em;
    top: 0;
    color: #000;
    height: 2.2em;
    width: 2em;
    line-height: 2.2em;
    font-size: 1em;
  }
  &:hover{
    background-color: $brand-colour;
    color: #000;
  }
}
.filter-btn:hover:after {
  border-left: 1px solid darken($brand-colour, 10%);
}
.filter-unit, .filters-button {
  float: left;
  border: 1px solid $brand-colour;
  background-color: #fff;
  font-size: .8em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.4em;
  color: $brand-colour;
  margin: 0 0 0 0.1em;
  vertical-align: bottom;
  line-height: 1.3em;
}
.filter-unit {
  &:after {
    content: '×';
    padding: 0.3em;
    font-size: 0.9em;
    line-height: 0.2em;
    height: 0.9em;
    width: 0.9em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 0 0.5em;
    color: tint($brand-colour, 80);
  }
  &:hover {
      background-color: $brand-colour;
      color: #fff;
  }

}
.pullout {
  padding: 1em;
  border: 1px solid #efefef;
  border-left: 0.3em solid red;
  margin-top: 1em;
}
.about {
  .field-label {
    text-transform: none;
    font-weight: bold;
    display: block;
  }
  margin: 3em 0;
}

/*MOBILE STYLING FROM 480px WIDTH*/

@media only screen and (min-width: 481px) {

}

/*DESKTOP STYLING FROM 1000px WIDE*/

@media only screen and (min-width: 1000px) {
  .record {
    .about, figure {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    .about {
      width: 49%;
      padding-left: 2em;
      margin: 0;
    }
  }
}
