---
http_interactions:
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&page=1&per_page=0&record_type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8ab47ecf0009bafef257377c8ae5d1de"'
    body:
      encoding: UTF-8
      string: '{"search":{"result_count":2178619,"results":[],"per_page":0,"page":1,"request_url":"http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a\u0026debug=true\u0026facets=category\u0026facets_per_page=250\u0026fields=default%2Csource_contributor_name%2Cdisplay_collection%2Cdisplay_content_partner%2Csource_url%2Cthumbnail_url%2Cdisplay_date%2Ccreator%2Ccategory%2Csubject\u0026page=1\u0026per_page=0\u0026record_type=0","solr_request_params":{"fq":["type:Record","record_type_i:0","-is_catalog_record_b:true","-content_partner_sm:(National\\
        Library\\ Singapore)","-primary_collection_sm:(National\\ Library\\ of\\ New\\
        Zealand\\ Catalogue OR Index\\ New\\ Zealand OR findNZarticles)","-source_id_s:cenotaph","-source_id_s:whangarei\\-libraries","-source_id_s:tapuhi\\-authorities","-source_id_s:tapuhi","-source_id_s:tapuhi\\-series","-source_id_s:ministry_environment_koordinates",null],"start":0,"rows":0,"facet":"true","f.category_sm.facet.limit":150,"f.category_sm.facet.offset":0,"f.category_sm.facet.mincount":1,"facet.field":["category_sm"],"q":"*:*"},"warnings":["The
        facets_per_page parameter can not exceed 150"],"facets":{"category":{"Images":1267255,"Articles":229053,"Archives":175969,"Reference
        sources":140914,"Research papers":131396,"Books":93590,"Newspapers":84265,"Manuscripts":38812,"Other":20199,"Videos":15706,"Data":8598,"Audio":5905,"Sets":4156,"Guides
        \u0026 factsheets":1826,"Groups":290,"Article":110,"Archive":12,"Community
        content":8}}}}'
  recorded_at: Tue, 26 Apr 2016 22:41:01 GMT
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=TAPUHI&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=content_partner,primary_collection,usage,decade&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&page=1&per_page=20&record_type=0&text=wellington
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ba2b9c7926de3555e065952dc51b10b2"'
    body:
      encoding: UTF-8
      string: '{"search":{"result_count":27,"results":[{"id":35833426,"updated_at":"2016-01-16T06:32:02.560+13:00","created_at":"2015-12-02T00:46:31.811+13:00","title":"Soldiers
        of a Wellington Regiment in France","description":"Soldiers of the Taranaki
        Company? of a Wellington Regiment, 1st Brigade pose for a group portrait in
        Bayenghem, France. Photograph taken 8 November 1917 by Henry Armytage Sanders.
        \nAn original print from this negative is in album PA1-f-091 \nPhotographer''s
        title on negative - bottom left: H376 \n - :  \nQuantity: 1 b\u0026w original
        negative(s). \nPhysical Description: Dry plate glass negative 4.75 x 6.5 inches","content_partner":["Alexander
        Turnbull Library"],"category":["Images"],"creator":["Not specified"],"dc_type":["Item"],"dnz_type":"Unknown","date":["1917-01-01
        12:00:00 UTC"],"source_url":"http://api.dnz0a.digitalnz.org/records/35833426/source","collection":["TAPUHI","Photographic
        Archive","Royal New Zealand Returned and Services'' Association :New Zealand
        official negatives, World War 1914-1918","Royal New Zealand Returned and Services''
        Association New Zealand official negatives, World War 1914-1918: H Series
        negatives"],"alternate_title":[],"additional_description":[],"display_content_partner":"Alexander
        Turnbull Library","collection_title":["TAPUHI","Photographic Archive","Royal
        New Zealand Returned and Services'' Association :New Zealand official negatives,
        World War 1914-1918","Royal New Zealand Returned and Services'' Association
        New Zealand official negatives, World War 1914-1918: H Series negatives"],"display_collection":"TAPUHI","primary_collection":["TAPUHI"],"contributing_partner":[],"contributor":[],"copyright":["No
        known copyright restrictions"],"citation":[],"credit_creator":null,"language":[],"provenance":null,"publisher":[],"rights":"No
        known copyright restrictions. To the best of the Alexander Turnbull Library''s
        knowledge, under New Zealand law: there is no copyright or other intellectual
        property rights in this item in New Zealand; and it may be copied and otherwise
        re-used in New Zealand without copyright or other intellectual property right
        related restriction. However the Alexander Turnbull Library requests that
        the images are used and re-used in a manner that respects their status as
        documentary heritage and taonga. Alexander Turnbull Library will not be liable
        to you, on any legal basis (including negligence), for any loss or damage
        you suffer through your use of this material, except in those cases where
        the law does not allow us to exclude or limit our liability to you.","usage":["Share","Modify","Use
        commercially"],"source":[],"tag":["emu_parent_id:780038","emu_ead_level:3"],"thesis_level":null,"holding":[],"library_collection":["Photographic
        Archive"],"shelf_location":"1/2-013010-G","eprints_type":[],"text":null,"fulltext":null,"format":["1
        b\u0026w original negative(s)","Single negative","Dry plate glass negative
        4.75 x 6.5 inches","Orientation: Horizontal image"],"dc_identifier":["tap:478998","emu:478998","old_tap:1108442","1/2-013010-G","urn:nbn:nz:wtu:1/2-013010-G","iid:72173"],"display_date":"8
        Nov 1917","published_date":[],"syndication_date":null,"landing_url":"http://natlib.govt.nz/records/35833426","large_thumbnail_url":null,"rights_url":[],"thumbnail_url":"Unknown","origin_url":"http://tapuhi.natlib.govt.nz/cgi-bin/spydus/NAV/GLOBAL/OPHDR/1/478998","metadata_url":null,"object_url":null,"has_version":[],"license":null,"relation":["Royal
        New Zealand Returned and Services'' Association :New Zealand official negatives,
        World War 1914-1918","PA-Group-00051","emu:131527"],"is_part_of":["emu:780038","Royal
        New Zealand Returned and Services'' Association New Zealand official negatives,
        World War 1914-1918: H Series negatives","PAColl-5311-3"],"is_replaced_by":null,"replaces":null,"is_required_by":null,"is_version_of":null,"table_of_contents":null,"is_commercial_use":null,"concept_ids":[],"source_contributor_name":[],"subject":["World
        War, 1914-1918","Campaigns","France","Military personnel, New Zealand"]},{"id":35833428,"updated_at":"2016-01-16T06:32:03.818+13:00","created_at":"2015-12-02T00:46:32.281+13:00","title":"Soldiers
        of a Wellington Regiment pose in France","description":"Soldiers of the Wellington
        West Coast Company?, Wellington Regiment, 1st Brigade pose for a group portrait
        in Bayenghem, France. Photograph taken 8 November 1917 by Henry Armytage Sanders.
        \nAn origin[...]
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=TAPUHI&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&page=1&per_page=0&record_type=0&text=wellington
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:[...]
[...]
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=TAPUHI&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=content_partner,primary_collection,usage,decade&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&or%5Busage%5D%5B1%5D=Use%20commercially&page=1&per_page=20&record_type=0&text=welling[...]
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=TAPUHI&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&or%5Busage%5D%5B1%5D=Use%20commercially&page=1&per_page=0&record_type=0&text=wellington
    body:
      encoding: US-ASCII
 [...]
