---
http_interactions:
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&page=1&per_page=0&record_type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8e4f485342c7fcb0a8673a147d37b4c1"'
    body:
      encoding: UTF-8
      string: '{"search":{"result_count":2341038,"results":[],"per_page":0,"page":1,"request_url":"http://api.dnz0a.digitalnz.org/records.json?api_key=387d16c7596c9cfff190d14a81ec189a\u0026debug=true\u0026facets=category\u0026facets_per_page=250\u0026fields=default%2Csource_contributor_name%2Cdisplay_collection%2Cdisplay_content_partner%2Csource_url%2Cthumbnail_url%2Cdisplay_date%2Ccreator%2Ccategory%2Csubject\u0026page=1\u0026per_page=0\u0026record_type=0","solr_request_params":{"fq":["type:Record","record_type_i:0","-is_catalog_record_b:true","-content_partner_sm:(National\\
        Library\\ Singapore)","-primary_collection_sm:(National\\ Library\\ of\\ New\\
        Zealand\\ Catalogue OR Index\\ New\\ Zealand OR findNZarticles)","-source_id_s:cenotaph","-source_id_s:tapuhi\\-authorities","-source_id_s:tapuhi","-source_id_s:tapuhi\\-series","-source_id_s:ministry_environment_koordinates",null],"start":0,"rows":0,"facet":"true","f.category_sm.facet.limit":150,"f.category_sm.facet.offset":0,"f.category_sm.facet.mincount":1,"facet.field":["category_sm"],"q":"*:*"},"warnings":["The
        facets_per_page parameter can not exceed 150"],"facets":{"category":{"Images":1264890,"Articles":229003,"Archives":175869,"Audio":174266,"Reference
        sources":140914,"Research papers":129456,"Books":93590,"Newspapers":83065,"Manuscripts":38812,"Other":19965,"Videos":15568,"Data":8598,"Sets":4156,"Guides
        \u0026 factsheets":1826,"Groups":290,"Article":110,"Archive":10,"Community
        content":8}}}}'
  recorded_at: Wed, 20 Apr 2016 04:18:23 GMT
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=95bFM&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=content_partner,primary_collection,usage,decade&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&page=1&per_page=20&record_type=0&text=wellington
    body:
      encoding: US-ASCII
  [...]
- request:
    method: get
    uri: http://api.dnz0a.digitalnz.org/records.json?and%5Bprimary_collection%5D=95bFM&api_key=387d16c7596c9cfff190d14a81ec189a&debug=true&facets=category&facets_per_page=250&fields=default,source_contributor_name,display_collection,display_content_partner,source_url,thumbnail_url,display_date,creator,category,subject&or%5Busage%5D%5B0%5D=Modify&page=1&per_page=0&record_type=0&text=wellington
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
[...]
