---
http_interactions:
- request:
    method: post
    uri: http://api.dnz0a.digitalnz.org/users.json?api_key=387d16c7596c9cfff190d14a81ec189a&debug=true
    body:
      encoding: UTF-8
      string: '{"user":{"email":"foobar@boost.co.nz","name":"foobar","username":"foobar","encrypted_password":"$2a$04$4/eKLJYCDHWmIZskI68SDOeqAbBoC8GEb5fNdekph4mUUyi.O9YT.","sets":[{"name":"Favourites","privacy":"hidden","priority":0}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://api.dnz0a.digitalnz.org/users/571eaa29297b1f2a2d0000a2
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"622897deb2fd89b574f776cedcdac9e4"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":"571eaa29297b1f2a2d0000a2","name":"foobar","username":"foobar","email":"foobar@boost.co.nz","api_key":"t_BL7w1UL3YBJVd5WbuP"}}'
  recorded_at: Mon, 25 Apr 2016 23:37:13 GMT
recorded_with: VCR 3.0.1
