%button.menu menu
%nav.menu
  .menu-inner
    / <haml_loud> link_to &quot;Become a Partner&quot;, become_a_partner_path </haml_loud>
    = link_to "Contact", contact_path
    / <haml_loud> link_to &quot;Terms of use&quot;, terms_path </haml_loud>
    = link_to "About", about_path
